body {
    max-width: 90%;
    margin: 0 auto;
}

section, h1 {
    text-align: center;
}

main {
    display: flex;
}


.buttons {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 3rem;
}

.button, .button2, .button3 {
    padding: 0.7rem 2.4rem;
    background-color: yellowgreen;
    border: none;
    font-weight: bold;
    width: 100%;    
}

.button3__container {
    grid-column: 1/3;
    margin-top: 2rem;
}

.button3__container input {
    width: 100%;
    padding: .8rem 0;
    margin-bottom: 5px;
    font-size: 1rem;
    outline: none;
}


.button:hover, .button2:hover, .button3:hover {
    cursor: pointer;
    background-color: rgb(137, 173, 65);
}

.fade-in {
    animation: fadeInAnimation ease 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chuckNorris {
    background-color: burlywood;
    width: 30%;
    margin: 0 auto;
    padding: 2rem 0;
    border-radius: 1rem;
}

.chuckNorrisFail {
    background-color: red;
    width: 30%;
    margin: 0 auto;
    padding: 2rem 0;
    border-radius: 1rem;
    color: white;
}

.chuckNorris p {
    font-size: 1.3rem;
}

.repositories {
    width: 40%;
    max-height: 90vh;
    overflow: scroll;
} 

.repositories ul {
    background-color: burlywood;
    padding: 3rem ;
}

.repositories li{
    border: 1px solid black;
    margin-bottom: 1rem;
}

/* Clases reutilizables  */


.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.error {
    background-color: red;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

.mr-2 {
    margin-right: 2rem;
}

/* Tabla */

.tableStyles {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 5rem;
}

.tableStyles th,
.tableStyles td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}